syntax: glob
.metadata
.classpath
traces
launch
classes
*.o
*.class
*.d
*.hex
*.elf
*.map
*.ko
*.so.*
*.so
*.la
*.a
*.log
*.swp
*.lo
*.Po
*.pyc
.svn
.deps
*.cache
.libs
*.status
stamp-*
bin
share
private.xml
build
*~

syntax: regexp
\.orig$
\.orig\..*$
\.chg\..*$
\.rej$
\.conflict\~$
